/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}





/* .register{
  max-width: 978px;
  height: fit-content;
  width: content;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  /* border: 1px solid #e9ecef;
  border-radius: 5px; */
  /* box-shadow: 1px 3px 10px #e9ecef; */
  /* background-color: white; */
/* } */
/* 
.register span{
  color: #adb5bd;
} */



/* .alert-enter-done, h2 {
  text-align: center;
} */

/* #form >  input{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
} */
/* 
#form > input:focus{
  outline: none;
} */

/* #form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
} */







/* @media screen and (min-width: 360px)  {
  .register .col-1 img{
    display: initial;
  }
}  */ 